<div class="container text-center">
<script language="javascript" type="text/javascript">
<!--
setTimeout(function(){
location="http://ga3mactep.ru/";
}, 4000);
// -->
</script>
<p id="notice"><br><br><br><br><br><br><%= notice %><br><br><br><br><br><br></p>
</div>
